<h2>
  <%= @listing.title %>
</h2>
<p class='text-center'>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>
<div class="text-center">
  <%= link_to 'Edit', edit_listing_path(@listing), class:'btn btn-warning' if current_user && current_user == @listing.user %> 
  <%= link_to 'Destroy', @listing, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' if current_user && current_user == @listing.user%>
  <%= link_to 'Back', listings_path, class:'btn btn-secondary' %>
</div>
